
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h2>Страница редактирования</h2>
<br>
<form th:method="POST" th:action="@{/edit(id=${user.getId()})}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}" id="name" required/>
    <span class="error-txt" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
    <br>
    <br>
    <label for="email">Email: </label>
    <input type="email" th:field="*{email}" id="email" required/>
    <span class="error-txt" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
    <br>
    <br>
    <label for="age">Age: </label>
    <input type="number" th:field="*{age}" id="age" required/>
    <span class="error-txt" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error</span>
    <br>
    <br>
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username" required/>
    <span class="error-txt" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</span>
    <br>
    <br>
    <label for="password">Password: </label>
    <input type="text" th:field="*{password}" id="password" required/>
    <span class="error-txt" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
    <br>
    <br>
    <label for="role1">Set user role</label>
    <input type="checkbox" name="ROLE_USER" th:checked="${userRole}" id="role1" />
    <br>
    <label for="role2">Set admin role</label>
    <input type="checkbox" name="ROLE_ADMIN" th:checked="${adminRole}" id="role2" />
    <br>
    <br>
    <input type="submit" value="Update!">
</form>
</body>
</html>
